* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.m-t {
    margin-top: 3px;
}

.white {
    font-size: 2rem;
    color: white;
}

.orange {
    font-size: 2rem;
    color: var(--main_cr);
}

 :root {
    --main_cr: #ff9400;
}


/* main container */

.container {
    width: 100vw;
    height: 100vh;
    background: url(./img/anastase-maragos-9dzWZQWZMdE-unsplash.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* nav bar */

.navbar {
    width: 100%;
    height: 5.4rem;
    border-bottom: 3px solid #ffa72dbd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.4rem;
}

.navbar .logo {
    color: var(--main_cr);
    font-size: 1.7rem;
}

.navbar .list-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.navbar .list-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 15px;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-items ul li {
    height: 103%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .list-items ul li:hover {
    border-bottom: 2px solid #ff6900;
    color: var(--main_cr);
}


/* buttons */

.btn {
    color: white;
    background-color: var(--main_cr);
    padding: 7px 10px;
    padding: 13px 16px;
    border-radius: 3px;
    border: none;
}

.btn:hover {
    background: none;
    border: 1px solid var(--main_cr);
}


/* burger */

.burger {
    background-color: var(--main_cr);
    border-radius: 2px;
    padding: 8px 9px;
    display: none;
}

.burger-items {
    width: 25px;
    height: 4px;
    border-radius: 1px;
    background-color: white;
}

.burger-list {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: white;
    display: none;
}


/* main > hero */

.main {
    height: 86%;
}

.hero {
    width: 100%;
    height: 100%;
    padding: 11%;
    display: flex;
    justify-content: end;
    text-align: end;
}

.hero-items {
    width: 41vw;
}

.heading {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}


/* btns */

.btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2%;
}

.btn-contact {
    color: white;
    background-color: var(--main_cr);
    padding: 11px 17px;
    border-radius: 3px;
    border: none;
}

.btn-more {
    color: white;
    background: none;
    border: 1px solid white;
    padding: 9px 18px;
    border-radius: 3px;
}


/* dummy text */

.dummy-text {
    margin-top: 1rem;
    font-size: 13px;
    color: white;
}


/* bar */

.bar {
    position: absolute;
    bottom: 11%;
    display: flex;
    gap: 5px;
    left: 48%;
}

.white-bar {
    width: 32px;
    height: 4px;
    background-color: var(--main_cr);
    border-radius: 999rem;
}

.orange-bar {
    width: 32px;
    height: 4px;
    background-color: white;
    border-radius: 999rem;
}